name: Feature Branch

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - README.md
      - CHANGELOG.md
      - .gitignore

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Build package
        run: npm run build

      - name: Verify build
        run: .github/scripts/verify-build.sh
